---
title: News
layout: hub-news
order: 5
---

<h1>What’s new</h1>

<div class="grid grid--cols-2 grid--gap-0">
  <div class="bg-grey-100 p-10">
    <h3 class="h3">
      <a href="/{{ locale }}/news/blog/2020/new-in-octopus-dashboard-enhancements/">New in Octopus: Dashboard Enhancements</a>
    </h3>
    <p>Discover the new Dashboard management features in Ceph Octopus.</p>
  </div>
  <div>
    <div class="bg-grey-200 p-10">
      <h3 class="h3">
        <a href="/{{ locale }}/solutions/case-studies/ceph-drives-savings-for-bloomberg/">Ceph drives savings for Bloomberg</a>
      </h3>
    </div>
    <div class="bg-grey-300 p-10">
      <h3 class="h3">
        <a href="/{{ locale }}/community/events/2020/ceph-day-poland/">Ceph Day Poland 20–24 Nov 2020 Wrocław</a>
      </h3>
    </div>
  </div>
</div>

<h2>Latest articles</h2>

{% set articleLocaleTag = locale + '-article' %} {% set articles = collections[articleLocaleTag] | reverse | limitItems(4) %}

<ul class="ul grid grid--cols-4">
  {% for item in articles %}
  <li>
    {% include "components/article-card.njk" %}
  </li>
  {% endfor %}
</ul>

<h2>Find out more</h2>

<ul class="ul grid grid--cols-3">
  <li>
    <p class="p text-sm text-leading-tighter">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a felis odio. Integer interdum ipsum sed ante luctus, quis
      vehicula magna consequat. Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat
      mattis.
    </p>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Planet Ceph</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/news/planet-ceph/">View Planet Ceph articles</a>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Publications</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/news/publications/" target="_blank" rel="noreferrer noopener">Download publications</a>
  </li>
</ul>
