---
title: Community
layout: hub-community
order: 4
---

<h1 class="h1">Community</h1>

<section class="section">
  <div class="matrix">
    <ul class="matrix__list">
      <li class="relative">
        <div class="absolute aspect-ratio aspect-ratio--cover h-full left-0 tint tint--multiply tint--royal-8 top-0 w-full">
          <img alt="" class="absolute h-full left-0 top-0 w-full" src="/assets/placeholder-photo-1280x720.jpg" />
        </div>
        <div class="to-lg:flex-1 lg:h-full p-4 md:p-6 lg:p-8 relative z-1">
          <h3 class="h2">
            <a class="matrix__link link-cover" href="/{{ locale }}/news/blog/2020/new-in-octopus-dashboard-enhancements/"
              >Ceph Day London</a
            >
          </h3>
          <h4 class="color-white h5">October 24, 2019 London</h4>
          <p class="color-grey-500 mb-0 p">
            Come find out why the leading enterprises are adopting Ceph, why Ceph is the lowest cost per gig storage solution, and how easy
            it is to deploy your own Ceph cluster!
          </p>
        </div>
      </li>

      <li class="bg-navy relative">
        <div
          class="to-lg:flex to-lg:flex--col to-lg:flex--justify-between to-lg:flex-1 lg:grid lg:grid--cols-2 lg:h-full p-4 md:p-6 lg:p-8"
        >
          <div>
            <h3 class="h3">
              <a class="matrix__link link-cover" href="/{{ locale }}/solutions/case-studies/ceph-drives-savings-for-bloomberg/"
                >What’s new in the Octopus release</a
              >
            </h3>
            <p class="color-grey-500 p">
              Watch the Tech Talk 1 August 2020
            </p>
          </div>
          <div class="aspect-ratio aspect-ratio--16x9 lg:my-auto tint tint--black-2">
            <img alt="" class="absolute left-0 rounded-2 top-0" loading="lazy" src="https://via.placeholder.com/640x360" />
            <img alt="" class="absolute center w-12 z-1" src="/assets/svgs/icon-play-white-red.svg" />
          </div>
        </div>
      </li>

      <li class="bg-gunmetal p-4 md:p-6 lg:p-8 relative">
        <h3 class="h3">
          <a class="matrix__link link-cover" href="/{{ locale }}/community/events/2020/ceph-day-poland/"
            >Crimson/Seater OSD community meeting</a
          >
        </h3>
        <p class="color-grey-500 mb-0 p">
          Weekly discussion on the latest progress of crimson project which aims to build faster OSD.
        </p>
      </li>
    </ul>
  </div>
</section>

<h2>Connect with the Ceph community</h2>

<ul class="ul grid grid--cols-3">
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Tech talks</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/community/tect-talks/">Watch tech talks</a>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Events</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/community/events/">View all upcoming events</a>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Meetups &amp; community meetings</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/community/meetups/">View more</a>
  </li>
</ul>

<h2>Get involved</h2>

<ul class="ul grid grid--cols-3">
  <li>
    <p class="p text-sm text-leading-tighter">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a felis odio. Integer interdum ipsum sed ante luctus, quis
      vehicula magna consequat. Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat
      mattis.
    </p>
    <a href="/{{ locale }}/foundation/ceph-team/">Meet the Ceph team</a>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Where to find us</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/community/connect/">Connect with the community</a>
  </li>
  <li>
    <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    <h3>Become a contributor</h3>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/foundation/join/" target="_blank" rel="noreferrer noopener">How to contribute</a>
  </li>
</ul>

{% set eventLocaleTag = locale + '-event' %} {% set eventsFuture = collections[eventLocaleTag] | futureItems | reverse | limitItems(4) %}

<div class="grid grid--cols-2 grid--align-end mb-6">
  <div>
    <h2 class="h3 mb-0">Upcoming events</h2>
  </div>
  <div class="text-right">
    <a href="/{{ locale }}/community/events/" class="ml-6">See all events</a>
  </div>
</div>

<p>
  Sometimes there is no substitute for discussing technology face-to-face. The Ceph community tries to run and attend a number of events so
  that users can interact through lectures or just over beer.
</p>

{% if eventsFuture.length > 0 %}
<ul class="ul grid grid--cols-4">
  {% for item in eventsFuture %}
  <li>
    {% include "components/event-card.njk" %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="p">There are no upcoming events</p>
{% endif %}

<div class="grid grid--cols-2 grid--align-end mb-6">
  <div>
    <h2 class="h3 mb-0">Featured tech talks</h2>
  </div>
  <div class="text-right">
    <a href="/{{ locale }}/community/tech-talks/" class="ml-6">See all tech talks</a>
  </div>
</div>

<ul class="ul grid grid--cols-4">
  {% for item in tech_talks | sort(true, false, 'date') | limitItems(4) %}
  <li>
    <img
      class="mb-2"
      src="{% if item.image %}{{ item.image }}{% else %}https://via.placeholder.com/640x360?text=placeholder{% endif %}"
      alt=""
    />
    {% if item.date | futureDate %}<span class="block text-semibold"><span class="text-semibold">[Coming soon]</span></span
    >{% endif %}
    <time datetime="{{ item.date }}">{{ item.date | formatDate(locale) }}</time>
    <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener">{{ item.title }}</a> [{{ item.presenter }}]
  </li>
  {% endfor %}
</ul>
