<div class="relative">
  <div class="aspect-ratio aspect-ratio--16x9 mb-4">
    <img alt="" class="absolute left-0 rounded-2 top-0" loading="lazy" src="{% if item.data.image %}{{ item.data.image }}{% else %}https://via.placeholder.com/640x360{% endif %}" />
    <span class="absolute bg-red-500 block color-white m-4 p px-3 py-2 right-0 rounded-2 text-semibold top-0">
      {{ item.data.tags | articleType }}
    </span>
  </div>
  <a class="a block color-navy link-cover mb-2 text-xl" href="{{ item.url }}">
    {{ item.data.title }}
  </a>
  <p class="p text-sm">
    <time datetime="{{ item.data.date }}">
      {{ item.data.date | formatDate(locale) }}
    </time>{% if item.data.author %} by {{ item.data.author }}{% endif %}
  </p>
  <p class="p">
    {{ item.templateContent | removeHtml | truncate(100) }}
  </p>
</div>
