{# We will need a way to randomise the image as case study categories don't contain an image. 
We should only need a selection of 6 assets as we only show 6 case study categories. #}

<div class="bg-grey-300 border-grey-500 border-px border-solid relative rounded-2">
  <img class="rounded-t-2" src="https://via.placeholder.com/640x360?text={{ item }}{{ loop.index }}" alt="" />
  <a class="a block link-cover link-cover--shadow p-6 text-capitalise text-2xl" href="/{{ locale }}/solutions/case-studies/category/{{ item | slug }}/">{{ item }}</a>
</div>