<div class="relative">
  <div class="aspect-ratio aspect-ratio--16x9 mb-4">
    <img alt="" class="absolute left-0 rounded-2 top-0" loading="lazy" src="{% if item.data.image %}{{ item.data.image }}{% else %}https://via.placeholder.com/640x360{% endif %}" />
  </div>
  <a class="a link-cover" href="{{ item.url }}">{{ item.data.title }}</a>
</div>