<div class="relative">
  <img class="mb-4 rounded-2" src="{% if item.data.image %}{{ item.data.image }}{% else %}https://via.placeholder.com/640x360{% endif %}" alt="" />
  <a class="a link-cover" href="{{ item.url }}">{{ item.data.title }}</a>
</div>