<div class="relative">
  <div class="aspect-ratio aspect-ratio--16x9 mb-4">
    <img alt="" class="absolute h-full left-0 rounded-2 top-0 w-full" loading="lazy" src="{% if item.data.image %}{{ item.data.image }}{% else %}/assets/bitmaps/photo-water-02.jpg{% endif %}" />
  </div>
  <a class="block color-navy link-cover h4 mb-2" href="{{ item.url }}">
    {{ item.data.title }}
  </a>
  <time class="block p-sm" datetime="{{ item.data.date }}">
    {{ item.data.date | formatDateRange(item.data.end, item.data.locale) }}
  </time>
  <p class="p">
    {{ item.templateContent | removeHtml | truncate }}
  </p>
</div>

