<h2 class="h3">Previous events</h2>

<ul class="ul">
  {% for item in eventsPast | localeSelector(locale) %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
      <time datetime="{{ item.data.date }}">{{ item.data.date | formatDate(locale) }}</time>
    </li>
  {% endfor %}
</ul>