{% if pagination.pageNumber === 0 %}
  <h2 class="h3">Coming up</h2>

  {% if eventsFuture.length > 0 %}
    <ul class="ul">
      {% for item in eventsFuture | localeSelector(locale) %}
        <li>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
          <time datetime="{{ item.data.date }}">{{ item.data.date | formatDate(locale) }}</time>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="p">There are no upcoming events</p>
  {% endif %}
{% endif %}