{% set localeParentKey = '/' + locale + '/' %}
{% set primaryNav = collections.primary | eleventyNavigation(localeParentKey) %}
{% set secondaryNav = primaryNav[0].children %}

{# TEMP #}
<style>
  [aria-label="secondary"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  [aria-label="secondary"] li {
    display: inline-block;
    margin-top: 0.5em;
  }
  [aria-label="secondary"] [aria-current="page"] {
    background-color: #ddd;
  }
</style>

{# Not sure about this if layout != home as it feels a bit flimsy #}
{% if layout != 'home' %}
  <nav aria-label="secondary">
    <ul>
      {%- for item in primaryNav %}
        {% if page.url | startsWith(item.url) %}
          <li><a class="text-semibold" href="{{ item.url | url }}">{{ item.title }}</a></li>
          {%- if item.children %}
            {%- for subitem in item.children %}
              <li>
                <a href="{{ subitem.url | url }}" {% if page.url | startsWith(subitem.url) %} aria-current="page"{% endif %}>{{ subitem.title }}</a>
              </li>
            {%- endfor %}
          {% endif %}
        {% endif %}
      {%- endfor %}
    </ul>
  </nav>
{% endif %}