{% set localeParentKey = '/' + locale + '/' %}
{% set primaryNav = collections.primary | eleventyNavigation(localeParentKey) %}

<nav aria-label="main">
  <ul class="nav-primary">
    {%- for item in primaryNav -%}
      <li>
        <a href="{{ item.url | url }}" {% if page.url | startsWith(item.url) %} aria-current="page"{% endif %}>
          {{ item.title }}
        </a>
      </li>
      {%- if item.url == '/' + locale + '/developers/' -%}
        <li class="nav-primary__dropdown">
          <a href="https://docs.ceph.com/">
            Documentation<span aria-hidden="true" class="nav-primary__caret"></span>
          </a>
          <ul class="nav-primary__dropdown-menu">
            {%- for link in docsNav -%}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
