
{% set numberOfPages = pagination.pages.length %}
{% set pageNumberIndex = pagination.pageNumber + 1 %}

<nav aria-label="Pagination links" class="pagination">
  <a class="button pagination__button pagination__button--prev" data-direction="backwards" {% if pageNumberIndex === 1 %}disabled{% endif %} href="{{ pagination.href.previous }}">
    <img alt="" src="/assets/svgs/icon-chevron-left-white.svg" />
    <div>
      <span class="block">{{ 'previous' | i18n }}</span>
      <span class="text-xs text-normal">
        ({% if pageNumberIndex === 1 %}1{% else %}{{ pageNumberIndex - 1}} {% endif %} of {{ numberOfPages }})
      </span>
    </div>
  </a>

  <select class="pagination__select select" onchange="javascript:location.href = this.value;">
    <option value="" selected disabled hidden>Page {{ pageNumberIndex }}</option>
    {% for item in pagination.pages %}
      <option value="{{ pagination.hrefs[ loop.index0 ] }}">
        {{ loop.index }}</a>
      </option>
    {% endfor %}
  </select>
  
  <a class="button pagination__button pagination__button--next" data-direction="forwards" {% if pageNumberIndex === numberOfPages %}disabled{% endif %} href="{{ pagination.href.next }}">
    <div>
      <span class="block">{{ 'next' | i18n }}</span>
      <span class="text-xs text-normal">({% if pageNumberIndex === numberOfPages %}{{ pageNumberIndex}}{% else %}{{ pageNumberIndex + 1}} {% endif %} of {{ numberOfPages }})</span>
    </div>
    <img alt="" src="/assets/svgs/icon-chevron-right-white.svg" />
  </a>
</nav>