
{% set numberOfPages = pagination.pages.length %}
{% set pageNumberIndex = pagination.pageNumber + 1 %}

<nav aria-label="Pagination links" class="pagination">
  <a class="button pagination__button pagination__button--prev" data-direction="backwards" href="{{ pagination.href.previous }}" {% if pageNumberIndex === 1 %}aria-disabled="true" aria-hidden="true" tabindex="-1"{% endif %}>
    <img alt="" src="/assets/svgs/icon-chevron-left-white.svg" />
    <span>{{ 'previous' | i18n }}</span>
  </a>
  
  <select class="pagination__select select" onchange="javascript:location.href = this.value;">
    <option value="" selected disabled hidden>Page {{ pageNumberIndex }} of {{ numberOfPages }}</option>
    {% for item in pagination.pages %}
      <option value="{{ pagination.hrefs[ loop.index0 ] }}">
        {{ loop.index }}</a>
      </option>
    {% endfor %}
  </select>
  
  <a class="button pagination__button pagination__button--next" data-direction="forwards" href="{{ pagination.href.next }}" {% if pageNumberIndex === numberOfPages %}aria-disabled="true" aria-hidden="true" tabindex="-1"{% endif %}>
    <span>{{ 'next' | i18n }}</span>
    <img alt="" src="/assets/svgs/icon-chevron-right-white.svg" />
  </a>
</nav>