<a href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{title}}&via={{site.social.twitter}}" target="_blank" rel="noreferrer noopener">Twitter</a>
<a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank" rel="noreferrer noopener">Facebook</a>

