<div class="social-shares">
  <a class="social-shares__twitter" href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{title}}&via={{social.twitter}}" rel="noreferrer noopener" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
      <g fill="transparent" fill-rule="evenodd" stroke-width="2">
        <circle cx="23.925" cy="23.925" r="21.75" stroke="#eb1414" stroke-linecap="square"/>
        <path fill="#fff" stroke="#0a0c38" stroke-linejoin="round" transform="scale(1.3) translate(6, 5)" d="M15.93 2.1h3.819l-5.963 6.818L21.75 21.9h-6.48l-3.989-5.892-4.768 5.892H2.692l6.654-7.605L2.25 2.1h6.634l3.656 5.473L15.93 2.1zM14.91 19.248h2.07L7.8 4.723H5.579L14.91 19.248z"/>
      </g>
    </svg>
    <span class="visually-hidden">Twitter</span>
  </a>
  <a class="social-shares__facebook" href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" rel="noreferrer noopener" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" aria-hidden="true" focusable="false">
      <g fill="transparent" fill-rule="evenodd" stroke-width="2">
        <circle cx="23.925" cy="23.925" r="21.75" stroke="#eb1414" stroke-linecap="square"/>
        <path fill="#fff" stroke="#0a0c38" stroke-linejoin="round" d="M21.043 36.75V25.7H17.25v-5.1h3.793v-3.562c0-3.88 2.456-5.788 5.917-5.788 1.658 0 3.082.123 3.498.179v4.054l-2.4.001c-1.883 0-2.308.894-2.308 2.207V20.6h5.1l-1.7 5.1h-3.4v11.05h-4.707z"/>
      </g>
    </svg>
    <span class="visually-hidden">Facebook</span>
  </a>
</div>

