{
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "jsxBracketSameLine": true
      }
    },
    {
      "files": "*.css",
      "options": {
        "printWidth": 140,
        "singleQuote": false
      }
    }
  ]
}
