---
title: Discover
layout: hub-discover
order: 1
overlaySubMenu: true
---

{% set caseStudyLocaleTag = locale + '-case-study' %} {% set recentCaseStudies = collections[caseStudyLocaleTag] | reverse | getItems(6) %}

<h1 class="visually-hidden">{{ title }}</h1>

<section class="py-0 section section--full">
  <div class="py-32 lg:py-56 relative">
    <div class="absolute aspect-ratio aspect-ratio--cover h-full left-0 tint tint--multiply tint--royal-8 top-0 w-full">
      <img alt="" class="absolute h-full left-0 top-0 w-full" loading="lazy" src="/assets/bitmaps/photo-coral-04.jpg" />
    </div>
    <div class="wrapper">
      <div class="color-white max-w-224 mx-auto relative text-center z-1">
        <h2 class="h1 mb-0">Ceph. The future of storage.</h2>
        <a class="button" href="/assets/pdfs/report-dec2021.pdf" rel="noreferrer noopener" target="_blank">Read the latest report</a>
      </div>
    </div>
  </div>
  <div class="pb-0 section wrapper">
    <div class="max-w-192 mx-auto text-center">
      <p class="standout">
        Ceph is the future of storage; where traditional systems fail to deliver, Ceph is designed to excel. Leverage your data for better
        business decisions and achieve operational excellence through scalable, intelligent, reliable and highly available storage software.
        Ceph supports object, block and file storage, all in one unified storage system.
      </p>
      <p class="mb-0 p">
        With Ceph's adapability, your cluster will be ready to support all your application and data storage demands, both now and in the
        future, whether your solution is on-premises, in the public or private cloud, or container native.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="mb-12 lg:mb-16 text-center">
    <h2 class="h2">The benefits are clear</h2>
    <a class="a" href="/{{ locale }}/discover/benefits/">More benefits of Ceph</a>
  </div>
  <ul class="grid lg:grid--cols-3 list-none my-0 p-0">
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-scalable-blue-red.svg" alt="" />
      <h3 class="h3">Ceph is scalable</h3>
      <p class="mb-0 p">
        Ceph is capable of rapid scaling, without the typical downtime other solutions require. Using the advanced CRUSH algorithm, Ceph
        overcomes all scalability challenges, leading the way towards truly flexible, incredibly resilient storage at scale. Stop relying on
        expensive, vendor-specific hardware and lock-in contracts. Break free of legacy limitations. Grow your storage clusters
        exponentially as your business scales. Ceph is the scalable, cost-effective solution to rapid and unpredictable data growth in the
        enterprise market, academic institutions, and beyond.
      </p>
    </li>
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-reliable-blue-red.svg" alt="" />
      <h3 class="h3">Ceph is reliable</h3>
      <p class="p">
        Data is irreplaceable, so storage system reliability and fine-tuned management is paramount. Achieve peace of mind with Ceph;
        self-managing and self-healing, Ceph finds and rectifies issues before you are even aware of them. Within your storage cluster, Ceph
        Monitor and Manager daemons coordinate to increase reliability and data availability across interconnected systems. The CRUSH
        algorithm mitigates the risk of single points of failure, performance bottlenecks, and limits to scalability, creating a reliable
        and high-performing storage solution, fit for the growing enterprise market.
      </p>
    </li>
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-performance-blue-red.svg" alt="" />
      <h3 class="h3">Ceph is performant</h3>
      <p class="p">
        Ceph's configuration and deployment can be completely tailored to your needs, without compromising on performance. Apply Ceph to
        your existing storage setup, or create a new cluster with widely-available commodity hardware to achieve industry leading
        reliability and scalability, without the expense of traditional, proprietary ICT infrastructure.
      </p>
      <p class="p">
        Where traditional storage systems struggle with latency, complicated data reduplication processes and demand specific, inflexible
        physical infrastructure, Ceph remains performant and scalable.
      </p>
      <p class="p">
        As a software-defined storage system, Ceph is designed to maximise effectiveness and performance, regardless of the infrastructure
        it runs on.
      </p>
    </li>
  </ul>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Technology</h2>
  <div class="grid lg:grid--cols-2 grid--gap-14 lg:grid--gap-28">
    <div>
      <p class="standout">
        Ceph provides a flexible foundation for all data storage, uniting object, block and file types in a single unified RADOS cluster.
        For enterprises with multiple storage type requirements, Ceph provides a simplified, flexible solution.
      </p>
      <p class="standout">
        Take multiple forms of data from multiple sources, and turn it into a powerful tool for driving artificial intelligence (AI),
        machine learning (ML), and drawing valuable insights for business decisions. Using innovative, open source software and algorithms
        (CRUSH), Ceph is reinventing data architecture and modernizing effective data storage.
      </p>
      <a class="a" href="/{{ locale }}/discover/technology/">Find out more about technology</a>
    </div>
    <div>
      <h3 class="h3">Object storage</h3>
      <p class="mb-8 lg:mb-12 p">
        Achieve platform and hardware independence, with seamless access to object storage. Ceph's comprehensive object storage is
        compatible with popular interfaces, including Amazon S3.
      </p>
      <h3 class="h3">Block storage</h3>
      <p class="mb-8 lg:mb-12 p">
        Access block device images through Ceph’s thinly provisioned RADOS Block Device (RBD), with capabilities including snapshotting,
        replication and striping for maximised availability.
      </p>
      <h3 class="h3">File system</h3>
      <p class="mb-0 p">
        Ceph's traditional file system interface (CephFS) with POSIX compliance allows for detailed metadata, dynamic rebalancing and high
        performance, all within the same scalable system as your object and block storage.
      </p>
    </div>
  </div>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Open source since the start</h2>
  <div class="grid lg:grid--cols-2 grid--gap-8 lg:grid--gap-28">
    <div>
      <h3 class="h3">Open source</h3>
      <p class="p">
        Since its inception, Ceph has continually championed open source contribution, development and innovation. Our open source
        philosophy is of a free and global endeavour, accessible and changeable to all. Thanks to the broad range of experiences and
        knowledge each Ceph contributor has brought to Ceph, it has become more than just storage software. Ceph is a living, breathing and
        ever-evolving community, supported by pioneers in the software industry. With this strong foundation, Ceph can adapt to changing
        data storage needs, and leap ahead to rapidly take advantage of new ideas and new innovations.
      </p>
      <a class="a inline-block mb-8 lg:mb-12" href="/{{ locale }}/foundation/members/">Meet the Ceph foundation members</a>
      <h3 class="h3">No vendor lock-in</h3>
      <p class="mb-0 p">
        Gone are the days of expensive IT infrastructure and zero compatibility. Ceph can be applied to off-the-shelf hardware, supported
        and successfully utilised within a heterogeneous environment. With Ceph, you don’t need to invest in costly hardware, instead you
        have the freedom to choose what works for your business.
      </p>
    </div>
    <div>
      <h3 class="h3">Backed by the community</h3>
      <p class="p">
        Ceph’s global community of contributors is crucial to its ongoing evolution. Through global collaboration, sourcing exclusive
        expertise and rapid development, the Ceph community ensures Ceph is, and continues to be, industry leading. Becoming a part of
        Ceph’s community puts you at the forefront of data storage revolution.
      </p>
      <a class="a inline-block mb-8 lg:mb-12" href="/{{ locale }}/community/">Connect with the community</a>
      <h3 class="h3">Hardware independent</h3>
      <p class="mb-0 p">
        Ceph can be deployed on commonly used and widely available hardware, giving you limitless storage scalability with minimal hardware
        investment, resulting in reduced costs and no vendor lock-in. Purchase the hardware you require, or use the hardware you already
        have, deploy Ceph, and let the software do the rest. Reduce your OPEX through this flexible approach to building cost-effective
        infrastructure systems.
      </p>
    </div>
  </div>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Driving innovation around the world</h2>
  <div class="grid lg:grid--cols-2 grid--gap-14 lg:grid--gap-28">
    <div>
      <p class="standout">
        Ceph is the future of enterprise storage, driving innovation, novel data management and digital transformation. From efficiently and
        resiliently storing unstructured data for PhD theses, to achieving enterprise level performance that doesn't break budgets, Ceph has
        rapidly grown to become a global phenomenon, redefining data storage for enterprises across the world.
      </p>
      <div class="flex flex--gap-4 lg:flex--gap-6 flex--wrap mb-4">
        <div>
          <div class="aspect-ratio aspect-ratio--1x1 w-20">
            <img alt="" class="absolute left-0 rounded-full top-0" loading="lazy" src="/assets/bitmaps/logo-softiron.png" />
          </div>
        </div>
        <div>
          <div class="aspect-ratio aspect-ratio--1x1 w-20">
            <img alt="" class="absolute left-0 rounded-full top-0" loading="lazy" src="/assets/bitmaps/logo-arm.png" />
          </div>
        </div>
        <div>
          <div class="aspect-ratio aspect-ratio--1x1 w-20">
            <img alt="" class="absolute left-0 rounded-full top-0" loading="lazy" src="/assets/bitmaps/logo-suse.png" />
          </div>
        </div>
        <div>
          <div class="aspect-ratio aspect-ratio--1x1 w-20">
            <img alt="" class="absolute left-0 rounded-full top-0" loading="lazy" src="/assets/bitmaps/logo-ubuntu.png" />
          </div>
        </div>
      </div>
      <a class="a" href="/{{ locale }}/discover/use-cases/">See who’s using Ceph today</a>
    </div>
    <div>
      <h3 class="h3">Adapt for any use case</h3>
      <p class="p">
        Organisations that use and store data of any type can use Ceph. From start-up enterprises to academic institutions, the benefits of
        Ceph ensure intelligent data management and insights, leading to better business decisions. Ceph offers unprecendented levels of
        data resilience in a highly efficient and strategically distributed manner. Ceph's CRUSH algorithm will ensure your data isn't at
        risk from a single point of failure, and Ceph's automatic data redundancy and self-managing features keep your cluster healthy,
        functional, and resilient.
      </p>
      <a class="a inline-block mb-8 lg:mb-12" href="/{{ locale }}/discover/use-cases/">Find out how Ceph is used</a>
      <h3 class="h3">From start up to enterprise</h3>
      <p class="mb-8 lg:mb-12 p">
        From humble beginnings as a PhD thesis, to becoming an established and acclaimed enterprise storage solution, Ceph has undergone
        unimaginable growth, much like the growth in demand for ever-expanding data storage. By going global and gathering contributions
        from the best of the best, Ceph has evolved from a hypothesised idea to a substantial creation fit for enterprise use around the
        world.
      </p>
      <h3 class="h3">Constant growth</h3>
      <p class="p">
        Through combining the innovative collaboration of Ceph’s community with the uptake of Ceph as a popular storage solution, Ceph is
        constantly adapting to novel requirements and scaling to match the exponential growth of data. Ceph’s potential is limitless;
        software developers and engineers take imagined possibilities and create tangible functionalities. Ceph is the future of enterprise
        storage, ready to tackle the hundreds of exabytes of data we will create in the coming years.
      </p>
      <a class="a" href="/{{ locale }}/discover/vision/">See our vision for Ceph</a>
    </div>
  </div>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Recent case studies</h2>
  <ul class="grid grid--cols-2 md:grid--cols-3 lg:grid--cols-6 list-none m-0 p-0">
    {% for item in recentCaseStudies %}
    <li>{% include "components/case-study-card.njk" %}</li>
    {% endfor %}
  </ul>
</section>
