<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}" class="no-js">
  <head prefix="og: http://ogp.me/ns">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f1726c">

    <script>
      (function (d) {
        d.className = d
          .className
          .replace(/\bno-js/, 'js');
      })(document.documentElement);
    </script>

    <title>Ceph.io — {{ title }}</title>
    {# Canonical link? #}

    {# Preload/dns-prefetch #}

    {# Stylesheet #}
    <link rel="stylesheet" href="/css/main.css"/>

    {# Favicons #}
    
    {# Social meta #}
    <meta property="og:locale" content="{{ locale }}">
    <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% if image %}{{ image }}{% else %}https://via.placeholder.com/640x360{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}">

    <meta name="twitter:card" content="{% if image %}summary_large_image{% else %}summary{% endif %}" />
    <meta name="twitter:site" content="@ceph" />
    <meta name="twitter:title" content="{% if title %}{{ title }} - {% endif %}{{ site.title }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:image" content="{% if image %}{{ image }}{% else %}https://via.placeholder.com/640x360{% endif %}" />

  </head>
  <body>
    {% include 'components/site-header.njk' %}

    <main id="main">
      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>

    {% include 'components/site-footer.njk' %}
  </body>
</html>