---
  layout: base
---

<main>

  <a href="/{{ locale }}/whats-new/blog/">&lt; {{ 'back_to_blog' | i18n }}</a>

  {{ content | safe }}

  <aside>
    <h2>{{ 'share_this_article' | i18n }}</h2>
    <p>...</p>

    <h2>{{ 'related' | i18n }}</h2>
    <p>...</p>
  </aside>

</main>