---
  layout: base
---

<main>

  <a href="..">&lt; Back to blog</a>

  {{ content | safe }}

  <aside>
    <h2>Share this article</h2>
    <p>...</p>

    <h2>Related</h2>
    <p>...</p>
  </aside>

</main>