<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}" class="no-js">
<head prefix="og: http://ogp.me/ns">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f1726c">

  <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
  
  <title>Ceph.io — {{ title }}</title>
  {# Canonical link? #}

  {# Preload/dns-prefetch #}
  {# Stylesheet #}
  {# Favicons #}
  {# Social meta #}
</head>
<body>
  {{ content | safe }}

  {% include 'components/language-selector.njk' %}
</body>
</html>