---
layout: navigation
---

{% set blogPostLocaleTag = locale + '-blog-post' %}
{% set blogPostTag = 'blog-post' %}
{% set articleLocaleTag = locale + '-article' %}
{% set blogCategories = tags | removeTags([blogPostLocaleTag, blogPostTag, articleLocaleTag]) %}

<section class="section">
  <div class="grid lg:grid--cols-auto-72">
    <div>
      <h1 class="h1">{{ title }}</h1>
      <div class="flex flex--gap-8 flex--pipe mb-7 lg:mb-9 xl:mb-10">
        <time class="mb-0 p-sm" datetime="{{ page.date }}">{{ page.date | formatDate(locale) }}</time>
        <span class="mb-0 p-sm text-semibold">{{ author }}</span>
      </div>
    </div>
  </div>

  <div class="grid lg:grid--cols-auto-72 to-lg:grid--gap-0 lg:grid--gap-16 xl:grid--gap-20">
    <div>
      {% if image %}
        <div class="to-lg:w-full-breakout">
          <img alt="" class="mb-8 lg:mb-10 xl:mb-12 w-full" loading="lazy" src="{{ page.url }}{{ image }}" />
        </div>
      {% endif %}
      <div class="intro-para richtext">
        {{ content | safe }}
      </div>
    </div>
    <aside>
      <hr class="hr lg:hidden my-16">
      <div class="grid md-to-lg:grid--cols-2 to-md:grid--gap-14 lg:grid--gap-0">
        <div>
          <h2 class="h5">{{ 'share_this_article' | i18n }}</h2>
          {% include "components/social-shares.njk" %}
          <hr class="hidden lg:block hr">
        </div>
        {% if blogCategories | length > 0 %}
          <div>
            <h2 id="tags-desc" class="h5">{{ 'read_more_articles_like_this' | i18n }}</h2>
            <ul class="list-none p-0" aria-describedby="tags-desc">
              {% for item in blogCategories %}
                <li {% if loop.revindex0 %}class="mb-3"{% endif %}>
                  <a class="button button--pill" href="/{{ locale }}/news/blog/category/{{ item | slug }}/">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </aside>
  </div>
</section>
