---
layout: base
---

<div class="grid grid--cols-auto-72">
  <div>
    <h1 class="h1">{{ title }}</h1>
    <time datetime="{{ page.date }}">{{ page.date | formatDate(locale) }}</time>
    {{ content | safe }}
  </div>
  <div>
    <aside>
      <h2 class="h4">{{ 'share_this_article' | i18n }}</h2>
      <p>...</p>

      <h2 id="tags-desc" class="h4">{{ 'read_more_articles_like_this' | i18n }}</h2>
      <ul class="ul" aria-describedby="tags-desc">
        {% for item in tags %}
          <li>
            <a href="/{{ locale }}/news/blog/tag/{{ item | slug }}/">#{{ item }}</a>
          </li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</div>