---
layout: base
---

<div class="grid grid--cols-auto-72">
  <div>
    <h1 class="h1">{{ title }}</h1>
    <time class="block mb-2" datetime="{{ page.date }}">{{ page.date | formatDate(locale) }}</time>
    {% if image %}
      <img class="mb-2" src="{{ image }}" alt="" />
    {% endif %}
    <div class="intro-para">
      {{ content | safe }}
    </div>
  </div>
  <aside>
    <h2 class="h4">{{ 'about_this_case_study' | i18n }}</h2>
    <a href="{{ sponsor.website }}" target="_blank" rel="noreferrer noopener">
      <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" style="width: 50px;" />
    </a>
    <p class="p">{{ 'this_case_study_is_sponsored_by' | i18n }} {{ sponsor.name }}.</p>

    <details class="tooltip">
      <summary class="a tooltip__toggle">{{ 'find_out_more' | i18n }}</summary>
      <div class="tooltip__content">
        <p class="mb-0 p">Disclaimer about how sponsored case studies work and who is able to sponsor / publish them. <a class="a" href="/{{ locale }}/foundation/join">Join the Ceph Foundation</a>.</p>
      </div>
    </details>

    <hr>
    <h2 class="h4">{{ 'keep_reading' | i18n }}</h2>
    <p class="p">{{ 'find_out_more_about_this_case_study_at_the' | i18n }} {{ sponsor.name }} <span class="text-lower">{{ 'website' | i18n }}</span>.</p>
    <a class="a" href="{{ sponsor.website }}">{{ 'go_to' | i18n }} {{ sponsor.name }} <span class="text-lower">{{ 'website' | i18n }}</span></a>
  </aside>
</div>

<h2>Discover more</h2>

<ul class="ul grid grid--cols-3">
  <li>
    <a href="/{{ locale }}/solutions/">
      <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    </a>
    <a href="/{{ locale }}/solutions/">Solutions</a>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/solutions/">Case studies of Ceph in action</a>
  </li>
  <li>
    <a href="/{{ locale }}/discover/customers/">
      <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    </a>
    <a href="/{{ locale }}/discover/customers/">Customers</a>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/discover/customers/">See who is using Ceph</a>
  </li>
  <li>
    <a href="/{{ locale }}/discover/benefits/">
      <img class="mb-2" src="https://via.placeholder.com/640x360" alt="" />
    </a>
    <a href="/{{ locale }}/discover/benefits/">Benefits of Ceph</a>
    <p class="p text-sm text-leading-tighter">
      Donec dignissim vestibulum lorem, sed pulvinar erat consequat sed. Quisque elementum sem eget magna feugiat mattis.
    </p>
    <a href="/{{ locale }}/discover/benefits/">Discover the benefits</a>
  </li>
</ul>

