---
layout: base
---

<div class="grid grid--cols-auto-72">
  <div>
    {{ content | safe }}
  </div>
  <div>
    <h3 class="h4">{{ 'event_details' | i18n }}</h3>
    <time datetime="{{ date }}">{{ date | formatDate(locale) }}</time>
    
    <h3 class="h4">{{ 'share_this_article' | i18n }}</h3>
    <p>...</p>
  </div>
</div>