---
layout: base
---

{% include 'components/navigation-secondary.njk' %}

<section class="section">
  <div class="grid lg:grid--cols-auto-72">
    <h1 class="h1">{{ title }}</h1>
  </div>

  <div class="grid lg:grid--cols-auto-72 to-lg:grid--gap-0 lg:grid--gap-16 xl:grid--gap-20">
    <div>
      {% if image %}
        <div class="to-lg:w-full-breakout">
          <div class="aspect-ratio aspect-ratio--16x9 mb-8 lg:mb-10 xl:mb-12">
            <img alt="" class="absolute top-0" loading="lazy" src="{{ image }}" />
          </div>
        </div>
      {% endif %}
      <div class="intro-para richtext">
        {{ content | safe }}
      </div>
    </div>
    <aside>


      <h2 class="h5">{{ 'event_details' | i18n }}</h2>
      
      <p class="mb-4 standout">
        <time class="block "datetime="{{ date }}">{{ date | formatDateRange(end, locale) }}</time>
        {{ location }}
      </p>
      <p class="p">{{ venue }}</p>
      <a class="a" href="{{ map }}" rel="noreferrer noopener" target="_blank">View map</a>
      <hr class="hr">

      <a class="button w-full" href="{{ register }}" rel="noreferrer noopener" target="_blank">Register</a>
      <hr class="hr">

      {# <h2 class="h5">{{ 'event_sponsors' | i18n }}</h2> #}
      {% for item in sponsors %}
        <h2 class="h5">{{ item.label }}</h2>
        <ul class="grid grid--cols-2 list-none p-0">
          {% for item in item.list %}
            <li>
              <a href="{{ item.website }}" target="_blank" rel="noreferrer noopener">
                <img src="{{ item.logo }}" alt="{{ item.name }}" style="width: 50px;"/>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      <hr class="hr">


      <h2 class="h5">{{ 'share_this_article' | i18n }}</h2>
      {% include "components/social-shares.njk" %}


    </aside>
  </div>
</section>