---
layout: base
---

{# We may not need this as each language will require bespoke translation so content will exist directly in the page rather than a reusable layout.

This maybe the case for all layouts that are not completely automated like listing-
 #}

{{ content | safe }}