---
layout: base
pagination:
  data: collections.blogPosts
  size: 2
permalink: '/{{ locale }}/news/blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1}}{% endif %}/index.html'
---

{% set blogPosts = pagination.items %}
{% set blogFilters = collections.blogTags %}

<h1>{{ title }}</h1>

{% include "components/blog-filters.njk" %}

<form action="/{{ locale }}/news/blog/search/" method="get" class="search">
  <label for="search-str">Search</label>
  <input type="text" name="q" id="search-str" />
  <button type="submit" id="search-submit" class="submit">Search</button>
</form>

{% include "components/blog-posts.njk" %}

{% include "components/pagination.njk" %}

{{ content | safe }}
