---
layout: base
pagination:
  data: collections.eventsPast
  size: 12
permalink: '/{{ locale }}/community/events{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1}}{% endif %}/index.html'
---

{% set eventsFuture = collections.eventsFuture %}
{% set eventsPast = pagination.items %}
{% set eventFilters = collections.eventTags %}

<h1>{{ title }}</h1>

{% include "components/event-filters.njk" %}

{% include "components/events-future.njk" %}

{% include "components/events-past.njk" %}

{% include "components/pagination.njk" %}

{{ content | safe }}