---
layout: navigation
permalink: '/{{ locale }}/news/blog/search/'
---

<h1 class="h1">Search</h1>

<form action="/{{ locale }}/news/blog/search/" method="get" class="search">
  <label for="search-str">Search</label>
  <input type="text" name="q" id="search-str" />
  <button type="submit" id="search-submit" class="submit">Search</button>
</form>

<div id="search-results"></div>

<script src="/js/bundle-search.js"></script>