---
  layout: base
  pagination:
    size: 2
  permalink: '/{{ locale }}/news/blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1}}{% endif %}/index.html'
---

{% set blogPostLocaleTag = locale + '-blog-post' %}
{% set articleLocaleTag = locale + '-article' %}
{% set blogPostFilters = collections[blogPostLocaleTag] | collectionTags([blogPostLocaleTag, articleLocaleTag]) %}

{% include 'components/navigation-secondary.njk' %}

<div class="flex flex--justify-between">
  <h1>{{ title }}</h1>
  <div>
    <select onchange="javascript:location.href = this.value;">
      <option value="" selected disabled hidden>Category</option>
      {% for item in blogPostFilters %}
        <option value="/{{ locale }}/news/blog/category/{{ item | slug }}/">
          {{ item }}</a>
      </option>
    {% endfor %}
  </select>
  <form action="/{{ locale }}/news/blog/search/" method="get" class="search">
    <label for="search-str">Search</label>
    <input type="text" name="q" id="search-str"/>
    <button type="submit" id="search-submit" class="submit">Search</button>
  </form>
</div>
</div>

{% set blogPosts = pagination.items %}

<ul class="grid grid--cols-4 list-none p-0">
{% for item in blogPosts %}
  <li>
    {% include "components/blog-post-card.njk" %}
  </li>
{% endfor %}
</ul>

{% include "components/pagination.njk" %}

{{ content | safe }}