---
layout: base
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ['all', 'blog-post', 'blogTags', 'caseStudies', 'caseStudyTags', 'events', 'eventTags', 'pressReleases', 'pressReleaseTags', 'primary', 'support']
permalink: '/{{ locale }}/solutions/case-studies/tag/{{ tag | slug }}/'
---

{% set caseStudyTags = collections[tag] %}

<h1>Tagged with "{{ tag }}"</h1>

{% include "components/case-study-tags.njk" %}