---js
{
  layout: 'base',
  title: 'Category',
  pagination: {
    size: 1,
    alias: 'tag',
    before: function(data) {
      // array tag suffixes
      const filterSuffix = ['case-study'];

      // single array of all tags in lowercase
      const allTags = data
        .map(item => {
          const { tags = [] } = item.data;
          return tags;
        })
        .reduce((collectedTags, tags) => {
          return [...collectedTags, ...tags];
        }, [])
        .map(tag => tag.toLowerCase())
        .filter(tag => {
          return !filterSuffix.some(suffix => tag.endsWith(suffix))
        });

      // remove duplicate tags
      const uniqueTags = [...new Set(allTags)];

      // sort alphabetically
      const tagsSorted = uniqueTags.sort((a, b) => {
        return a.localeCompare(b);
      });

      return tagsSorted;
    }
  },
  permalink: '/{{ locale }}/solutions/case-studies/category/{{ tag | slug }}/'
}
---

<!-- prettier-ignore -->
{% set caseStudyLocaleTag = locale + '-case-study' %}
{% set caseStudyCategories = collections[tag] | collectionIncludesTag(caseStudyLocaleTag) | reverse %}

{% include 'components/navigation-secondary.njk' %}

<h1 class="h1">{{ title }} "{{ tag }}"</h1>

<ul class="grid grid--cols-4 list-none p-0">
  {% for item in caseStudyCategories %}
    <li>
      {% include "components/case-study-card.njk" %}
    </li>
  {% endfor %}
</ul>