---
layout: base
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ['all', 'blogPosts', 'blogTags', 'caseStudies', 'caseStudyTags', 'events', 'eventTags', 'pressReleases', 'pressReleaseTags','primary', 'support']
permalink: '/{{ locale }}/community/events/tag/{{ tag | slug }}/'
---

{% set eventTags = collections[tag] %}

<h1>Tagged with "{{ tag }}"</h1>

{% include "components/event-tags.njk" %}