---js
{
  layout: 'navigation',
  pagination: {
    size: 1,
    alias: 'tag',
    before: function(data) {
      // array tag suffixes
      const filterSuffix = ['case-study'];

      // single array of all tags in lowercase
      const allTags = data
        .map(item => {
          const { tags = [] } = item.data;
          return tags;
        })
        .reduce((collectedTags, tags) => {
          return [...collectedTags, ...tags];
        }, [])
        .map(tag => tag.toLowerCase())
        .filter(tag => {
          return !filterSuffix.some(suffix => tag.endsWith(suffix))
        });

      // remove duplicate tags
      const uniqueTags = [...new Set(allTags)];

      // sort alphabetically
      const tagsSorted = uniqueTags.sort((a, b) => {
        return a.localeCompare(b);
      });

      return tagsSorted;
    }
  },
  permalink: '/{{ locale }}/solutions/case-studies/category/{{ tag | slug }}/'
}
---

{% set caseStudyLocaleTag = locale + '-case-study' %}
{% set caseStudyFilters = collections[caseStudyLocaleTag] | getCollectionTags([caseStudyLocaleTag]) %}
{% set caseStudyCategories = collections[tag] | getCollectionByTag(caseStudyLocaleTag) | reverse %}

<section class="section">
  <div class="flex flex--gap-6 flex--align-center flex--justify-between flex--wrap mb-16 xl:mb-24"> 
    <h1 class="h1 mb-0">{{ title }}</h1>
    <div>
    <select class="select" id="filters" onchange="javascript:location.href = this.value;">
        <option value="">{{ 'category' | i18n }}</option>
        {% for item in caseStudyFilters %}
          {% set itemSlug = item | slug + '/'%}
          <option {% if page.url | endsWith(itemSlug) %}selected{% endif %} value="/{{ locale }}/solutions/case-studies/category/{{ itemSlug }}">
            {{ item }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <h2 class="h3 mb-8 xl:mb-10">{{ 'case_studies_filtered_by' | i18n }} ‘{{ tag }}’</h2>
  <ul class="grid md:grid--cols-2 lg:grid--cols-3 xl:grid--cols-4 list-none m-0 p-0">
    {% for item in caseStudyCategories %}
      <li>
        {% include "components/case-study-card.njk" %}
      </li>
    {% endfor %}
  </ul>
</section>

<section class="pt-0 section">
  <div class="bg-grey-300 border-grey-500 border-px border-solid p-5 rounded-2">
    <div class="flex flex--align-center flex--gap-6 flex--justify-between flex--wrap">
      <div>
        <h2 class="h3">Subscribe to Ceph Announcements</h2>
        <p class="p">Ned placerat est a augue pulvinar imperdiet quis in setiam euismod.</p>
        <a class="a" href="#">Other ways to stay connected</a>
      </div>
      <div>
        <a class="button" href="#">Subscribe to Ceph Announcements</a>
      </div>
    </div>
  </div>
</section>

{{ content | safe }}