---
layout: navigation
---

{% set pressReleaseLocaleTag = locale + '-press-release' %}
{% set pressReleaseTag = 'press-release' %}
{% set articleLocaleTag = locale + '-article' %}

<section class="section">
  <div class="grid lg:grid--cols-auto-72">
    <div>
      <h1 class="h1">{{ title }}</h1>
      <div class="flex flex--gap-8 flex--pipe mb-7 lg:mb-9 xl:mb-10">
        <time class="mb-0 p-sm" datetime="{{ page.date }}">{{ page.date | formatDate(locale) }}</time>
        <span class="mb-0 p-sm text-semibold">{{ author }}</span>
      </div>
    </div>
  </div>

  <div class="grid lg:grid--cols-auto-72 to-lg:grid--gap-0 lg:grid--gap-16 xl:grid--gap-20">
    <div>
      {% if image %}
        <div class="to-lg:w-full-breakout">
          <img alt="" class="mb-8 lg:mb-10 xl:mb-12 w-full" loading="lazy" src="{{ image }}" />
        </div>
      {% endif %}
      <div class="intro-para richtext">
        {{ content | safe }}
      </div>
    </div>
    <aside>
      <hr class="hr lg:hidden my-16">
      <div class="grid md-to-lg:grid--cols-2 to-md:grid--gap-14 lg:grid--gap-0">
        <div>
          <h2 class="h5">{{ 'share_this_article' | i18n }}</h2>
          {% include "components/social-shares.njk" %}
          <hr class="hidden lg:block hr">
        </div>
        <div>
          <h2 id="tags-desc" class="h5">{{ 'read_more_articles_like_this' | i18n }}</h2>
          <ul class="list-none p-0" aria-describedby="tags-desc">
            {% for item in tags | removeTags([pressReleaseLocaleTag, pressReleaseTag, articleLocaleTag]) %}
              <li {% if loop.revindex0 %}class="mb-3"{% endif %}>
                <a class="button button--pill" href="/{{ locale }}/news/blog/category/{{ item | slug }}/">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </aside>
  </div>
</section>

<section class="pt-0 section">
  <div class="bg-grey-300 border-grey-500 border-px border-solid p-5 rounded-2">
    <div class="flex flex--align-center flex--gap-6 flex--justify-between flex--wrap">
      <div>
        <h2 class="h3">Subscribe to Ceph Announcements</h2>
        <p class="p">Ned placerat est a augue pulvinar imperdiet quis in setiam euismod.</p>
        <a class="a" href="#">Other ways to stay connected</a>
      </div>
      <div>
        <a class="button" href="#">Subscribe to Ceph Announcements</a>
      </div>
    </div>
  </div>
</section>