---
layout: base
---

<section class="richtext section">
  <div class="grid lg:grid--cols-auto-72 to-lg:grid--gap-0 lg:grid--gap-16 xl:grid--gap-20">
    <div>
      {{ content | safe }}
    </div>
  </div>
</section>