---
title: Solutions
layout: hub-solutions
order: 2
overlaySubMenu: true
---

{% set caseStudyLocaleTag = locale + '-case-study' %} {% set recentCaseStudies = collections[caseStudyLocaleTag] | reverse | getItems(6) %}
{% set browseCaseStudies = collections[caseStudyLocaleTag] | getCollectionTags | removeTags([caseStudyLocaleTag]) | randomize | getItems(6)
%}

<h1 class="visually-hidden">{{ title }}</h1>

<section class="py-0 section section--full">
  <div class="py-32 lg:py-56 relative">
    <div class="absolute aspect-ratio aspect-ratio--cover h-full left-0 tint tint--multiply tint--red-500-4 top-0 w-full">
      <img alt="" class="absolute h-full left-0 top-0 w-full" src="/assets/placeholder-photo-1280x720.jpg" />
    </div>
    <div class="wrapper">
      <div class="color-white max-w-224 mx-auto relative text-center z-1">
        <h2 class="h1 mb-0">Built for data, applied to businesses and&nbsp;more.</h2>
      </div>
    </div>
  </div>
  <div class="pb-0 section wrapper">
    <div class="max-w-192 mx-auto text-center">
      <p class="standout">
        Ceph is designed to be more than data storage. With Ceph, organisations benefit from scalable storage, meaningful data insights,
        reliable management and security, and futureproof&nbsp;development.
      </p>
      <p class="p">
        From start-ups to global enterprises, academic institutions to medium-sized businesses, Ceph is the future of data storage,
        management and decision&nbsp;making.
      </p>
      <a class="a" href="/{{ locale }}/discover/benefits/">Discover the benefits of Ceph</a>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16 text-center">Case studies</h2>
  <ul class="grid lg:grid--cols-3 list-none my-0 p-0">
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-scalable-blue-red.svg" alt="" />
      <h3 class="h3">Ceph for Business</h3>
      <p class="p">
        Ceph empowers businesses to make better decisions lead by data insights. Futureproof data management, improve processes, ensure
        business continuity and reduce investment in data infrastructure with Ceph. Regardless of your data type, Ceph offers a unified,
        streamlined and self-managing solution to your data pain points.
      </p>
      <a class="a" href="/{{ locale }}/solutions/case-studies/">Business use cases</a>
    </li>
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-reliable-blue-red.svg" alt="" />
      <h3 class="h3">Ceph for Academic Institutions</h3>
      <p class="p">
        Managing data for academic institutions requires a flexible, scalable, reliable and available system, designed to cope with demand.
        Ceph delivers robust data storage able to scale and accommodate growth without compromising performance, security or continuity.
      </p>
      <a class="a" href="/{{ locale }}/solutions/case-studies/">Academic use cases</a>
    </li>
    <li class="bg-grey-300 border-grey-500 border-px border-solid p-5 relative rounded-2">
      <img class="mb-4 w-12" src="/assets/svgs/icon-performance-blue-red.svg" alt="" />
      <h3 class="h3">Ceph for…</h3>
      <p class="p">
        …anyone. Whatever data you store and however you manage it, Ceph is for you. As a constantly developing Open Source platform, novel
        and innovative uses are invaluable to Ceph’s evolution. If you use Ceph, you can contribute. And if you can contribute, you can
        shape the future of enterprise data storage.
      </p>
      <a class="a" href="/{{ locale }}/community/">Find out more about Ceph’s community</a>
    </li>
  </ul>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Recent case studies</h2>
  <ul class="grid grid--cols-2 md:grid--cols-3 lg:grid--cols-6 list-none m-0 p-0">
    {% for item in recentCaseStudies %}
    <li>
      {% include "components/case-study-card.njk" %}
    </li>
    {% endfor %}
  </ul>
</section>

<section class="pt-0 section">
  <h2 class="h2 mb-12 lg:mb-16">Browse more case studies</h2>
  <ul class="grid md:grid--cols-2 lg:grid--cols-3 list-none m-0 p-0">
    {% for item in browseCaseStudies %}
    <li>
      {% include "components/case-study-category-card.njk" %}
    </li>
    {% endfor %}
  </ul>
</section>

<hr class="hr" />

<section class="section">
  <h2 class="h2 mb-12 lg:mb-16">Training &amp; professional services</h2>
  <div class="grid lg:grid--cols-2 grid--gap-14 lg:grid--gap-28">
    <div>
      <p class="standout">
        Get the most out of Ceph and better manage your data storage with training and professional services. Whether an organization
        requires system support, initial training or consultancy, The Ceph Foundation can deliver services required.
      </p>
      <a class="a" href="/{{ locale }}/solutions/training-professional-services/">Training &amp; professional services</a>
    </div>
    <div>
      <h3 class="h3">Training professional</h3>
    </div>
  </div>
</section>
