---
  title: ブログ
---

<h1>ブログ</h1>

<ul>
  {# Loop over blog collection #}
  <li>
    <a href="2020/04/public-telemetry-dashboards/">パブリックテレメトリダッシュボード</a>
  </li>
</ul>

<a href="/{{ locale }}/">ホームページ</a>