/* ---------- BASE focus ---------- */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: var(--size-0_5) solid var(--color-blue);
  outline-offset: var(--size-1);
}
