/* ---------- BASE document ---------- */

html {
  line-height: var(--font-leading-none);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

html.no-scroll {
  overflow: hidden;
}

body {
  background-color: var(--color-white);
  color: var(--color-gunmetal);
  display: grid;
  font-family: var(--font-family-brand);
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: var(--size-h-screen);
  line-height: var(--font-leading-none);
  overflow-x: hidden;
}

a,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* 
https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
This is implemented by sanitize but it omits the position absolute. 
Firefox needs the position absolute otherwise it adds whitespace.
*/
nav li::before {
  position: absolute;
}

img,
canvas {
  height: auto;
  max-width: 100%;
  width: 100%;
}
