/* ---------- BASE typography ---------- */

@custom-selector :--heading .h1, .h2, .h3, .h4, .h5, .h6;
@custom-selector :--list .ul, .ol;

/* headings */

:--heading {
  font-family: var(--font-family-brand);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-tracking-normal);
  margin: var(--size-0);
}

.h1 {
  font-size: var(--font-size-4xl);
  line-height: var(--size-10);
}

.h2 {
  font-size: var(--font-size-2xl);
  line-height: var(--size-8);
}

.h3 {
  font-size: var(--font-size-xl);
  line-height: var(--size-6);
}

.h4 {
  font-size: var(--font-size-lg);
  line-height: var(--size-5);
}

.h5 {
  font-size: var(--font-size-md);
  line-height: var(--size-5);
}

/* paragraph */

.p {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-tracking-normal);
  line-height: var(--size-6);
}

/* link */

.a {
  color: var(--color-ceph-red);
  font-family: var(--font-family-brand);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-tracking-normal);
  line-height: var(--size-6);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline; /* Let's come back to this. Maybe we'll use bottom-border? */
}

/* lists */

:--list {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-tracking-normal);
  line-height: var(--size-6);
}

:--list li::marker {
  color: var(--color-ceph-blue);
}

.ol li::marker {
  font-weight: var(--font-weight-bold);
}

/* custom */

.standout,
.excerpt {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-tracking-normal);
  line-height: var(--size-7);
}

@media (--mq-md) {
  /* headings */

  .h1 {
    font-size: var(--font-size-6xl);
    line-height: var(--size-14);
  }

  .h2 {
    font-size: var(--font-size-4xl);
    line-height: var(--size-10);
  }

  .h4 {
    font-size: var(--font-size-xl);
    line-height: var(--size-6);
  }
}

@media (--mq-lg) {
  /* headings */

  .h1 {
    font-size: var(--font-size-8xl);
    line-height: var(--size-16);
  }

  .h2 {
    font-size: var(--font-size-5xl);
    line-height: var(--size-11);
  }

  .h3 {
    font-size: var(--font-size-2xl);
    line-height: var(--size-8);
  }

  .h5 {
    font-size: var(--font-size-lg);
    line-height: var(--size-6);
  }
}
