/* ---------- COMPONENT section ---------- */

.section {
  --section-gutters-x: var(--size-3);
  --section-gutters-y: var(--size-10);
  padding-bottom: var(--section-gutters-y);
  padding-top: var(--section-gutters-y);
  scroll-margin-top: var(--size-scroll-offset);
}

.section--full {
  margin-left: calc(-1 * var(--section-gutters-x));
  margin-right: calc(-1 * var(--section-gutters-x));
  padding-left: var(--section-gutters-x);
  padding-right: var(--section-gutters-x);
}

@media (--mq-sm) {
  .section {
    --section-gutters-x: var(--size-5);
    --section-gutters-y: var(--size-12);
  }
}

@media (--mq-md) {
  .section {
    --section-gutters-x: var(--size-7);
    --section-gutters-y: var(--size-14);
  }
}

@media (--mq-lg) {
  .section {
    --section-gutters-x: var(--size-9);
    --section-gutters-y: var(--size-16);
  }
}

@media (--mq-xl) {
  .section {
    --section-gutters-x: var(--size-16);
  }
}
