/* ---------- COMPONENT site header ---------- */

.scroll-offset {
  height: var(--size-scroll-offset);
  position: relative;
  top: 0;
  width: var(--size-px);
}

.site-header {
  --site-header-gutters-y: var(--size-6);
  --site-header-menu-gutters-x: var(--size-3);
  background: var(--color-white);
  border-bottom: var(--size-px) solid var(--color-grey-500);
  box-shadow: var(--shadow-black);
  padding-bottom: var(--site-header-gutters-y);
  padding-top: var(--site-header-gutters-y);
  position: fixed;
  top: 0;
  transition: background-color var(--animation-duration-fast) var(--animation-easing),
    border var(--animation-duration-fast) var(--animation-easing), box-shadow var(--animation-duration-fast) var(--animation-easing);
  z-index: 10;

  @media (--mq-sm) {
    --site-header-menu-gutters-x: var(--size-5);
  }

  @media (--mq-md) {
    --site-header-menu-gutters-x: var(--size-7);
  }
}

.site-header__logo {
  position: relative;
  width: var(--size-32);
  z-index: 12;
}

.site-header__logo svg {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* home */
.home .scroll-offset {
  position: absolute;
}

.home .site-header {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.home .site-header--stuck {
  background: var(--color-white);
  border-bottom: var(--size-px) solid var(--color-grey-500);
  box-shadow: var(--shadow-black);
}

.home .site-header__logo .logo-ceph__text path {
  fill: var(--color-ceph-grey-rev);
  transition: fill var(--animation-duration) var(--animation-easing);
}

.home .site-header__menu-open svg g {
  stroke: var(--color-white);
  transition: stroke var(--animation-duration) var(--animation-easing);
}

.home .site-header--stuck .site-header__logo .logo-ceph__text path,
.home .site-header--opened .site-header__logo .logo-ceph__text path {
  fill: var(--color-ceph-grey);
}

.home .site-header--stuck .site-header__menu-open svg g,
.home .site-header--opened .site-header__menu-open svg g {
  stroke: var(--color-black);
}

/* media queries */
@media (--mq-to-lg) {
  .site-header__menu {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--animation-duration) var(--animation-easing);
    visibility: hidden;
    width: 100vw;
  }

  .site-header--opened .site-header__menu,
  .site-header__menu:target {
    transform: translateY(0%);
    visibility: visible;
  }

  .site-header__menu-close {
    display: block;
    margin: var(--size-7) var(--site-header-menu-gutters-x) var(--size-16) auto;
    width: var(--size-6);
  }

  .site-header__overflow {
    flex: 1 1 0%;
    overflow-y: auto;
  }
}

@media (--mq-lg) {
  .site-header__menu {
    display: flex;
    flex-wrap: nowrap;
  }

  .site-header__menu-open,
  .site-header__menu-close {
    display: none;
  }

  .site-header__overflow {
    display: flex;
  }
}
