/* ---------- COMPONENT details ---------- */

.details,
.richtext details {
  font-size: var(--font-size-md);
  line-height: var(--size-6);
  margin: 0 0 var(--size-4);
  padding-left: var(--size-6);
}

.details > summary,
.richtext details > summary {
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  list-style: none;
  margin: 0 0 var(--size-4) calc(-1 * var(--size-6));
  padding-left: var(--size-6);
  position: relative;
  transition: color var(--animation-duration) var(--animation-easing);
}

.details > summary:hover,
.richtext details > summary:hover {
  color: var(--color-red-500);
  text-decoration: underline;
}

/* 
I'm not a fan of the image duplication just to swap out a color.
A future enhancement could be sweeping the details component into a macro and inlining the SVG.
*/
.details > summary:hover::before,
.richtext details > summary:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true' focusable='false'%3E%3Ctitle%3EChevron down%3C/title%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23eb1414' stroke-width='2' d='M7 10l5 5 5-5'/%3E%3C/svg%3E");
}

.details > summary:active,
.richtext details > summary:active {
  color: var(--color-red-600);
  text-decoration: underline;
}

.details > summary:active::before,
.richtext details > summary:active::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true' focusable='false'%3E%3Ctitle%3EChevron down%3C/title%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%239b0d0d' stroke-width='2' d='M7 10l5 5 5-5'/%3E%3C/svg%3E");
}

.details > summary::-webkit-details-marker,
.richtext details > summary::-webkit-details-marker {
  display: none;
}

.details > summary::before,
.richtext details > summary::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true' focusable='false'%3E%3Ctitle%3EChevron down%3C/title%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%230A0C38' stroke-width='2' d='M7 10l5 5 5-5'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
  content: "";
  height: var(--size-6);
  left: calc(-1 * var(--size-1));
  position: absolute;
  top: 0;
  width: var(--size-6);
}

.details[open] > summary::before,
.richtext details[open] > summary::before {
  transform: rotate(180deg);
}
