/* ---------- COMPONENT link cover ---------- */

.link-cover::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.link-cover--shadow:hover::before {
  box-shadow: 0 0.0625rem 0.125rem hsla(var(--color-black-hsl), 0.05), 0 0.125rem 0.25rem hsla(var(--color-black-hsl), 0.05),
    0 0.25rem 0.5rem hsla(var(--color-black-hsl), 0.05), 0 0.5rem 1rem hsla(var(--color-black-hsl), 0.05);
}

.link-cover--shadow::before {
  border-radius: var(--size-2); /* not sure about declaring this as it's possible this won't always be used with a rounded utility */
  transition: box-shadow var(--animation-duration) var(--animation-easing);
}
