/* ---------- COMPONENT pagination ---------- */

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__button {
  padding: var(--size-4);
}

.pagination__button img {
  width: var(--size-6);
}

.pagination__button div {
  display: none;
}

.pagination__select {
  color: var(--color-red-500);
}

.pagination__select option:not(:first-child) {
  color: var(--color-gunmetal);
}

@media (--mq-md) {
  .pagination {
    justify-content: center;
    margin-left: calc(-1 * var(--size-7));
  }

  .pagination > * {
    margin-left: var(--size-7);
  }

  .pagination__button {
    display: flex;
    justify-content: center;
    line-height: var(--size-4);
    min-width: var(--size-36);
    padding: var(--size-2) var(--size-4);
  }

  .pagination__button--prev {
    padding-right: var(--size-8);
  }

  .pagination__button--next {
    padding-left: var(--size-8);
  }

  .pagination__button div {
    display: block;
    flex: 0 0 content;
  }
}

@media (--mq-xl) {
  .pagination {
    margin-left: calc(-1 * var(--size-14));
  }

  .pagination > * {
    margin-left: var(--size-14);
  }
}
