/* ---------- COMPONENT nav primary ---------- */

.nav-primary {
  --nav-primary-gutters-x: var(--size-3);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-tracking-normal);
  line-height: var(--size-6);

  @media (--mq-sm) {
    --nav-primary-gutters-x: var(--size-5);
  }

  @media (--mq-md) {
    --nav-primary-gutters-x: var(--size-7);
  }

  @media (--mq-lg) {
    --nav-primary-gap-x: var(--size-6);
  }

  @media (--mq-xl) {
    --nav-primary-gap-x: var(--size-8);
  }
}

.nav-primary a {
  color: var(--color-gunmetal);
  display: inline-block;
  text-decoration: none;
  transition: color var(--animation-duration) var(--animation-easing);
}

.nav-primary a:hover {
  color: var(--color-red-500);
  text-decoration: underline;
}

.nav-primary a:active {
  color: var(--color-red-600);
  text-decoration: underline;
}

.nav-primary [aria-current="page"] {
  color: var(--color-red-500);
}

/* ---------- media queries ---------- */
@media (--mq-to-lg) {
  .nav-primary {
    margin: 0 0 var(--size-4);
    padding: 0 var(--nav-primary-gutters-x);
  }

  .nav-primary > li {
    margin-bottom: var(--size-4);
  }
}

@media (--mq-lg) {
  .nav-primary {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    margin-left: calc(-1 * var(--nav-primary-gap-x));
  }

  .nav-primary > li {
    margin-left: var(--nav-primary-gap-x);
  }

  .home .nav-primary a {
    color: var(--color-grey-500);
  }

  .home .nav-primary a:hover,
  .home .nav-primary a:active {
    color: var(--color-white);
  }

  .home .site-header--stuck .nav-primary a {
    color: var(--color-gunmetal);
  }

  .home .site-header--stuck .nav-primary a:hover {
    color: var(--color-red-500);
  }

  .home .site-header--stuck .nav-primary a:active {
    color: var(--color-red-600);
  }
}
