/* ---------- OBJECT flex ---------- */

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--gap-4 {
  margin-left: calc(-1 * var(--size-4));
  margin-top: calc(-1 * var(--size-4));
}

.flex--gap-4 > * {
  margin-left: var(--size-4);
  margin-top: var(--size-4);
}

.flex--gap-6 {
  margin-left: calc(-1 * var(--size-6));
  margin-top: calc(-1 * var(--size-6));
}

.flex--gap-6 > * {
  margin-left: var(--size-6);
  margin-top: var(--size-6);
}

.flex--wrap {
  flex-wrap: wrap;
}

@media (--mq-sm) {
}

@media (--mq-md) {
}

@media (--mq-lg) {
}

@media (--mq-xl) {
}
