/* ---------- SETTINGS colors ---------- */

:root {
  /* negative */
  --color-black-h: 235;
  --color-black-s: 16%;
  --color-black-l: 16%;
  --color-black-hsl: var(--color-black-h), var(--color-black-s), var(--color-black-l);
  --color-black: hsl(var(--color-black-hsl));

  --color-white-h: 0;
  --color-white-s: 0%;
  --color-white-l: 100%;
  --color-white-hsl: var(--color-white-h), var(--color-white-s), var(--color-white-l);
  --color-white: hsl(var(--color-white-hsl));

  /* blue */
  --color-blue-h: 214;
  --color-blue-s: 82%;
  --color-blue-l: 51%;
  --color-blue-hsl: var(--color-blue-h), var(--color-blue-s), var(--color-blue-l);
  --color-blue: hsl(var(--color-blue-hsl));

  /* grey */
  --color-grey-h: 210;

  --color-grey-300-s: 40%;
  --color-grey-300-l: 96%;
  --color-grey-300-hsl: var(--color-grey-h), var(--color-grey-300-s), var(--color-grey-300-l);
  --color-grey-300: hsl(var(--color-grey-300-hsl));

  --color-grey-500-s: 29%;
  --color-grey-500-l: 87%;
  --color-grey-500-hsl: var(--color-grey-h), var(--color-grey-500-s), var(--color-grey-500-l);
  --color-grey-500: hsl(var(--color-grey-500-hsl));

  /* gunmetal */
  --color-gunmetal-h: 235;
  --color-gunmetal-s: 16%;
  --color-gunmetal-l: 16%;
  --color-gunmetal-hsl: var(--color-gunmetal-h), var(--color-gunmetal-s), var(--color-gunmetal-l);
  --color-gunmetal: hsl(var(--color-gunmetal-hsl));

  /* navy */
  --color-navy-h: 237;
  --color-navy-s: 74%;
  --color-navy-l: 13%;
  --color-navy-hsl: var(--color-navy-h), var(--color-navy-s), var(--color-navy-l);
  --color-navy: hsl(var(--color-navy-hsl));

  /* red */
  --color-red-h: 360;
  --color-red-s: 84%;

  --color-red-300-l: 83%;
  --color-red-300-hsl: var(--color-red-h), var(--color-red-s), var(--color-red-300-l);
  --color-red-300: hsl(var(--color-red-300-hsl));

  --color-red-400-l: 67%;
  --color-red-400-hsl: var(--color-red-h), var(--color-red-s), var(--color-red-400-l);
  --color-red-400: hsl(var(--color-red-400-hsl));

  --color-red-500-l: 47%;
  --color-red-500-hsl: var(--color-red-h), var(--color-red-s), var(--color-red-500-l);
  --color-red-500: hsl(var(--color-red-500-hsl));

  --color-red-600-l: 33%;
  --color-red-600-hsl: var(--color-red-h), var(--color-red-s), var(--color-red-600-l);
  --color-red-600: hsl(var(--color-red-600-hsl));

  --color-red-700-l: 17%;
  --color-red-700-hsl: var(--color-red-h), var(--color-red-s), var(--color-red-700-l);
  --color-red-700: hsl(var(--color-red-700-hsl));

  /* royal */
  --color-royal-h: 237;
  --color-royal-s: 74%;
  --color-royal-l: 25%;
  --color-royal-hsl: var(--color-royal-h), var(--color-royal-s), var(--color-royal-l);
  --color-royal: hsl(var(--color-royal-hsl));

  /* social */
  --color-facebook-blue-h: 220;
  --color-facebook-blue-s: 46%;
  --color-facebook-blue-l: 48%;
  --color-facebook-blue-hsl: var(--color-facebook-blue-h), var(--color-facebook-blue-s), var(--color-facebook-blue-l);
  --color-facebook-blue: hsl(var(--color-facebook-blue-hsl));

  --color-X-blue-h: 203;
  --color-X-blue-s: 89%;
  --color-X-blue-l: 53%;
  --color-X-blue-hsl: var(--color-twitter-blue-h), var(--color-twitter-blue-s), var(--color-twitter-blue-l);
  --color-X-blue: hsl(var(--color-twitter-blue-hsl));

  --color-youtube-red-h: 360;
  --color-youtube-red-s: 100%;
  --color-youtube-red-l: 50%;
  --color-youtube-red-hsl: var(--color-youtube-red-h), var(--color-youtube-red-s), var(--color-youtube-red-l);
  --color-youtube-red: hsl(var(--color-youtube-red-hsl));

  /* ceph */
  --color-ceph-grey-h: 208;
  --color-ceph-grey-s: 11%;
  --color-ceph-grey-l: 26%;
  --color-ceph-grey-hsl: var(--color-ceph-grey-h), var(--color-ceph-grey-s), var(--color-ceph-grey-l);
  --color-ceph-grey: hsl(var(--color-ceph-grey-hsl));

  --color-ceph-grey-rev-h: 150;
  --color-ceph-grey-rev-s: 4%;
  --color-ceph-grey-rev-l: 91%;
  --color-ceph-grey-rev-hsl: var(--color-ceph-grey-rev-h), var(--color-ceph-grey-rev-s), var(--color-ceph-grey-rev-l);
  --color-ceph-grey-rev: hsl(var(--color-ceph-grey-rev-hsl));

  /* shadow */
  --shadow-black: 0 0.0625rem 0.125rem hsla(var(--color-black-hsl), 0.05), 0 0.125rem 0.25rem hsla(var(--color-black-hsl), 0.05),
    0 0.25rem 0.5rem hsla(var(--color-black-hsl), 0.05), 0 0.5rem 1rem hsla(var(--color-black-hsl), 0.05);
}
