/* ---------- SETTINGS sizes ---------- */

:root {
  --size-none: none;
  --size-auto: auto;

  /* pixels */
  --size-0: 0; /* 0px */
  --size-px: 1px; /* 1px */
  --size-1: 0.25rem; /* 4px */
  --size-2: 0.5rem; /* 8px */
  --size-3: 0.75rem; /* 12px */
  --size-4: 1rem; /* 16px */
  --size-5: 1.25rem; /* 20px */
  --size-6: 1.5rem; /* 24px */
  --size-7: 1.75rem; /* 28px */
  --size-8: 2rem; /* 32px */
  --size-9: 2.25rem; /* 36px */
  --size-10: 2.5rem; /* 40px */
  --size-11: 2.75rem; /* 44px */
  --size-12: 3rem; /* 48px */
  --size-14: 3.25rem; /* 52px */
  --size-16: 4rem; /* 64px */
  --size-18: 4.5rem; /* 72px */
  --size-20: 5rem; /* 80px */
  --size-24: 6rem; /* 96px */
  --size-28: 6.5rem; /* 104px */
  --size-32: 8rem; /* 128px */
  --size-36: 9rem; /* 144px */
  --size-40: 10rem; /* 160px */
  --size-48: 12rem; /* 192px */
  --size-56: 14rem; /* 224px */
  --size-64: 16rem; /* 256px */
  --size-72: 18rem; /* 288px */
  --size-80: 20rem; /* 320px */
  --size-96: 24rem; /* 384px */
  --size-112: 28rem; /* 448px */
  --size-128: 32rem; /* 512px */
  --size-144: 36rem; /* 576px */
  --size-160: 40rem; /* 640px */
  --size-192: 48rem; /* 768px */
  --size-224: 56rem; /* 896px */
  --size-256: 64rem; /* 1024px */
  --size-288: 72rem; /* 1152px */

  /* fractions */
  --size-1-12: 8.333%;
  --size-1-6: 16.666%;
  --size-1-4: 25%;
  --size-1-3: 33.333334%;
  --size-5-12: 41.666%;
  --size-1-2: 50%;
  --size-7-12: 58.333%;
  --size-2-3: 66.666667%;
  --size-3-4: 75%;
  --size-5-6: 83.33333333%;
  --size-11-12: 91.66666667%;
  --size-full: 100%;

  /* screen */
  --size-h-screen: 100vh;
  --size-w-screen: 100vw;
}
