/* ---------- UTILITIES size ---------- */

/* ---------- height ---------- */
.h-full {
  height: var(--size-full);
}

/* ---------- width ---------- */
.w-12 {
  width: var(--size-12);
}

.w-36 {
  width: var(--size-36);
}

/* ---------- media queries ---------- */
@media (--mq-md-to-lg) {
  .md-to-lg\:h-full {
    height: var(--size-full);
  }
}
