/* ---------- UTILITIES display ---------- */

/* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
  overflow: hidden;
  position: absolute;
  top: auto;
  white-space: nowrap;
  width: 0;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.overflow-hidden {
  overflow: hidden;
}

@media (--mq-lg) {
  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }
}

.js .hide-js,
.no-js .hide-no-js {
  display: none;
}
