/* ---------- UTILITIES colors ---------- */

/* ----------  background negative ---------- */
.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

/* ----------  background navy ---------- */
.bg-navy {
  background-color: var(--color-navy);
}

/* ----------  background grey ---------- */
.bg-grey-300 {
  background-color: var(--color-grey-300);
}

.bg-grey-500 {
  background-color: var(--color-grey-500);
}

/* ---------- border negative ---------- */
.border-black {
  border-color: var(--color-black);
}

.border-white {
  border-color: var(--color-white);
}

/* ---------- text negative ---------- */
.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

/* ---------- text grey ---------- */
.color-grey-300 {
  color: var(--color-grey-300);
}

.color-grey-500 {
  color: var(--color-grey-500);
}
