---
title: Tech talks
order: 2
---

<section class="section">
  <h1 class="h1">{{ title }}</h1>
  <div class="grid lg:grid--cols-2">
    <div>
      <p class="p">
        Every month the Ceph community convenes to discuss a technical topic related to Ceph. Our hope is that the community can help to
        raise the general level of awareness and technical knowledge of all Ceph users and contributors. Please join us in the virtual
        meeting to ask questions and participate!
      </p>
      <ul class="lg:mb-10 xl:mb-12 ul">
        <li><strong>When</strong>: 4th Thursday of every month at 17:00 UTC</li>
        <li><strong>Where</strong>: Blue Jeans teleconference</li>
        <li><strong>Recordings</strong>: All calls will be published to YouTube.</li>
        <li>
          <strong>Mailing list</strong>: to receive announcements, watch the
          <a class="a" href="https://lists.ceph.io/postorius/lists/ceph-users.ceph.io/" target="_blank" rel="noreferrer noopener"
            >ceph-users mailing</a
          >.
        </li>
        <li>
          <strong>Calendar</strong>:
          <a
            class="a"
            href="https://calendar.google.com/calendar/b/1?cid=OXRzOWM3bHQ3dTF2aWMyaWp2dnFxbGZwbzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
            target="_blank"
            rel="noreferrer noopener"
            >Ceph Community</a
          >
          |
          <a
            class="a"
            href="https://calendar.google.com/calendar/ical/9ts9c7lt7u1vic2ijvvqqlfpo0%40group.calendar.google.com/public/basic.ics"
            target="_blank"
            rel="noreferrer noopener"
            >iCal</a
          >
        </li>
      </ul>
      <h2 class="h2">Join the stream</h2>
      <p class="mb-0 p">
        Or submit a request to host one of your own by emailing foundation AT ceph DOT io
      </p>
    </div>
    <div>
      <div class="aspect-ratio aspect-ratio--16x9">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/vQF17UBU4RE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>

{% for item in tech_talks | chunkByYear | objectValues | reverse %}
<section class="bg-grey-300 {% if loop.index0 %}pt-0{% endif %} section section--full">
  <div class="wrapper">
    <div class="max-w-256">
      <h3 class="h3">{{ item.name }}</h3>
      <table class="table">
        <tbody>
          {% for item in item.results %}
          <tr>
            <td class="w-36">
              <time datetime="{{ item.date }}">{{ item.date | formatDate(locale) }}</time>
            </td>
            <td>
              {% if item.url %}
              <a class="a" href="{{ item.url }}" target="_blank" rel="noreferrer noopener">{% endif %}{{ item.title }}{% if item.url %}</a
              >{% endif %} {% if item.presenter %}<span class="inline-block text-lower">{{ 'with' | i18n }} {{ item.presenter }}</span>{%
              endif %} {% if item.slides %}|
              <a class="a" href="{{ item.slides }}" target="_blank" rel="noreferrer noopener">{{ 'slides' | i18n }}</a>{% endif %}{% if
              item.date | isInFuture %}| <strong>{{ 'upcoming' | i18n }}</strong>{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endfor %}
